
.indexdiv{

	width: 504px;
	margin: 0 auto;
/* 	border:2px solid red;*/
	margin-top: 300px;
}
.titleStyle{
	font-size: 56px;
}
.photo{
	height: 600px;
	width: 600px;
	margin: 0 auto;
	
}


.photodiv{
	height: 604px;
	width: 604px;
	margin: 0 auto;
	/* border:2px solid red;
	 background-image:url(../images/photo.png);
	margin-top: 10%;*/
	background-size:100% 100%;
}



.cameraDiv{
	/*border:2px solid red;*/
	height: 160px;
	width: 400px;
	margin: 0 auto;
}
.camerabutton{
	margin-top:20px;
	margin-bottom:10px;
	margin-left: 110px;
	width: 180px;
	height: 80px;
	font-size: 32px;
	border: 1px solid blue;
}


.backbutton{
	width: 180px;
	height: 80px;
	font-size: 32px;
}


.infoDiv{
	margin-top:40px;
}
.infotable{
	width: 80%;
	margin:0 auto;
}

.infoFont{
	font-size: 32px;

}

.infoFonticon{
	font-size: 48px;
	color: blue;

}
.infoFonticonback{
	padding-left:30px;
	font-size: 68px;
	color: #4646ff;
}

